@model IEnumerable<TicketsPanel.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriotiryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendReply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriotiryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendReply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendant.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
