@model IEnumerable<TicketsPanel.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Painel de Chamados</h1>

<head>
    <link href="~/css/Tickets/Index.css" rel="stylesheet" />
</head>

<p id="Create">
    <a asp-action="Create">Criar</a> 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(t => t.TicketId)) {
        <tr data-href="@Url.Action("Detalhes", "Chamado", new { id = item.TicketId })">
            <td>
                @Html.DisplayFor(modelitem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situation)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Sla)
            </td>
        </tr>
}
    </tbody>

    <script src="~/js/Tickets/Index.js"></script>
</table>
